/* globals.modules.css */

/* Landing page*/

.heroSection {
  text-align: center;
}

.introText {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--bs-light);
}

.ctaButton {
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  margin-top: 2rem;
}

.cardStyle {
  border: none;
  background: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.heroImageCard {
  border-radius: 1rem;
  overflow: hidden;
  border-color: var(--bs-gray);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: center; /* add this line */
  background-color: #ff5722; /* or any other color you like */
  color: #ffffff; /* or any other color you like */
  padding: 20px;
  position: relative;
}

.headerTitle {
  font-family: "YourCoolFont", sans-serif; /* Replace 'YourCoolFont' with your custom font */
  font-size: 2em;
}

.fa-icon {
  width: 1em;
  height: 1em;
}

@keyframes pulse {
  0% {
    transform: scale(1.1);
    opacity: 1;
  }
  50% {
    transform: scale(1.15);
    opacity: 0.7;
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}

.page-container {
  position: relative;
}

.page-container::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 50px !important;
  z-index: -1;
  background: #133955;
  animation: pulse 5s infinite;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(0, 242, 255);
  border-radius: 10px;
}

/* Goals page */

.fitnessGoalsContainer {
  padding: 1rem;
  text-align: center;
}

.goalCard {
  border-radius: 5px !important;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1) !important;
  transition: transform 0.3s ease-in-out !important;
  cursor: pointer !important;
  max-height: 350px; /* Adjust as per your requirements */
  width: 100%; /* This will make the card responsive */
  margin: 15px; /* Adds a gap around each card */
  display: flex;
  flex-direction: column;
  object-fit: cover;
}

.goalCard:hover {
  transform: scale(1.05);
}
.goalDescription {
  font-size: 12px;
}
.Card.Body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Fitness Level page */
.levelCard {
  border-radius: 5px !important;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1) !important;
  transition: transform 0.3s ease-in-out !important;
  cursor: pointer !important;
  /* Adds a gap around each card */
  display: flex;
  flex-direction: column;
}
.levelCard:hover {
  transform: scale(1.05);
}
.header2 {
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
}

/* Generate Plan page */
.exerciseInstructions {
  font-size: 15px;
}

.table {
  border: 1px solid #ddd;
}
