/* globals.modules.css */
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
/* Landing page*/

.heroSection {
  text-align: center;
}

.introText {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--bs-light);
}

.ctaButton {
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  margin-top: 2rem;
}

.cardStyle {
  border: none;
  background: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.heroImageCard {
  border-radius: 1rem;
  overflow: hidden;
  border-color: var(--bs-gray);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
}

.headerTitle {
  font-family: "VT323", monospace;
  font-size: 2em;
}

.fa-icon {
  width: 1em;
  height: 1em;
}

@keyframes pulse {
  0% {
    transform: scale(1.1);
    opacity: 1;
  }
  50% {
    transform: scale(1.15);
    opacity: 0.7;
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}

.page-container {
  position: relative;
}

.page-container::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 50px !important;
  left: -30px;
  height: 450px;
  width: 300px;
  z-index: -1;
  background: #133955;
  animation: pulse 5s infinite;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(0, 242, 255);
  border-radius: 10px;
}

.loginLabel {
  font-family: "VT323", monospace;
}


/* Goals page */

.fitnessGoalsContainer {
  padding: 1rem;
  text-align: center;
}
.html,
.body {
  height: 100%;
}

.goalCard {
  border-radius: 5px !important;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1) !important;
  transition: transform 0.3s ease-in-out !important;
  cursor: pointer !important;
  max-height: 350px; /* Adjust as per your requirements */
  width: 100%; /* This will make the card responsive */
  margin: 15px; /* Adds a gap around each card */
  display: flex;
  flex-direction: column;
  object-fit: cover;
}

.goalCard:hover {
  transform: scale(1.05);
  background-color: rgb(255, 100, 162) !important;
}
.goalCard:active {
  background-color: rgb(94, 231, 255) !important;
}
.goalDescription {
  font-size: 12px;
}
.Card.Body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Fitness Level page */
.levelCard {
  border-radius: 5px !important;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1) !important;
  transition: transform 0.3s ease-in-out !important;
  cursor: pointer !important;
  /* Adds a gap around each card */
  display: flex;
  flex-direction: column;
}
.levelCard:hover {
  transform: scale(1.05);
  background-color: rgb(255, 100, 162) !important;
}
.levelCard:active {
  background-color: rgb(94, 231, 255) !important;
}
.header2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -25px;
  font-family: "VT323", monospace;
}
.header3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}

/* Generate Plan page */
.exerciseInstructions {
  font-size: 15px;
}

.table {
  border: 1px solid #ddd;
}

.tableContainer {
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
}
.planText {
  font-family: "VT323", monospace;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px;
}
/* Loading Spinner */
.loadingSpinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* Nav bar */
.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.fixed-bottom .nav-link {
  color: #333;
  text-align: center;
}

.fixed-bottom .nav-link div {
  font-size: 0.75rem; /* Adjust the size of the text */
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.fixed-bottom .nav-link {
  color: #333;
  text-align: center;
}

.fixed-bottom .nav-link div {
  font-size: 0.75rem;
}

/* Dashboard */

.dashboardSubtitle {
  font-family: "VT323", monospace;
}

.goalText {
  font-family: "VT323", monospace;
}

.quoteText {
  font-family: "VT323", monospace;
}

.p {
  font-family: "VT323", monospace;
}
.dashboardText {
  font-family: "VT323", monospace;
}
